[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/mojaves/http-parser.git
[submodule "deps/ngtemplate"]
	path = deps/ngtemplate
	url = https://github.com/mojaves/ngtemplate.git
[submodule "deps/libuseful"]
	path = deps/libuseful
	url = https://mojaves@github.com/mojaves/libuseful.git
