[submodule "deps/http-parser"]
	path = deps/http-parser
	url = git@github.com:mojaves/http-parser.git
[submodule "deps/ngtemplate"]
	path = deps/ngtemplate
	url = git@github.com:mojaves/ngtemplate.git
